In [6]:
import pandas as pd
import numpy as np

In [340]:
zonas_verdes = pd.read_csv(
    '../data_zonas_verdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv',
    sep=';',
    encoding='latin1'
)

In [392]:
zonas_verdes.head(15) #revision de la estructura de la tabla

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"10,90","10,63","10,56","8,68","8,74"
4,Bizkaia,NaN,"13,27","12,22","13,09","11,84","11,45"
5,CAE,NaN,"14,41","13,31","14,07","11,56","11,35"
6,Gipuzkoa,NaN,"20,12","18,05","19,80","14,58","14,31"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2009,2008,2007,2006,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"4,89",NaN,NaN,NaN,NaN
11,01200,Arabako Lautada / Llanada Alavesa,"14,73",NaN,NaN,NaN,NaN
12,01300,Arabako Mendialdea / Montaña Alavesa,"3,21",NaN,NaN,NaN,NaN
13,48100,Arratia Nerbioi / Arratia-Nervión,"22,70",NaN,NaN,NaN,NaN
14,20200,Bidasoa Beherea / Bajo Bidasoa,"3,54",NaN,NaN,NaN,NaN

In [393]:
zonas_verdes.iloc[9:] #encabezados de la tabla reales

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
9,Código comarca,Comarca,2009,2008,2007,2006,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"4,89",NaN,NaN,NaN,NaN
11,01200,Arabako Lautada / Llanada Alavesa,"14,73",NaN,NaN,NaN,NaN
12,01300,Arabako Mendialdea / Montaña Alavesa,"3,21",NaN,NaN,NaN,NaN
13,48100,Arratia Nerbioi / Arratia-Nervión,"22,70",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
277,48915,Ziortza-Bolibar,"17,78","23,53","23,53","23,53","8,26"
278,20028,Zizurkil,"12,17","12,17","12,27","13,45","13,45"
279,01063,Zuia,"6,01","6,01","5,66","5,93","5,93"
280,20081,Zumaia,"7,09","7,09","7,09","7,23","7,24"
281,20080,Zumarraga,"12,42","12,42","9,55","9,61","17,80"

In [394]:
zonas_verdes_provincias = zonas_verdes.iloc[2:9] #datos por provincias
zonas_verdes_provincias.columns =['provincia', 'col2', '2009', '2008', '2007', '2006', '2005'] #nombres de columnas
zonas_verdes_provincias = zonas_verdes_provincias.drop([7,8]) #datos no interesantes
zonas_verdes_provincias = zonas_verdes_provincias.reset_index(drop=True)  #indice a partir de 0

In [395]:
zonas_verdes_provincias = zonas_verdes_provincias[sorted(zonas_verdes_provincias.columns)]
zonas_verdes_provincias = zonas_verdes_provincias.drop(columns='col2')

In [396]:
zonas_verdes_provincias = zonas_verdes_provincias.drop([0])

In [397]:
zonas_verdes_provincias #zonas verdes, resumen por provincias

    2005   2006   2007   2008   2009    provincia
1   8,74   8,68  10,56  10,63  10,90  Araba/Álava
2  11,45  11,84  13,09  12,22  13,27      Bizkaia
3  11,35  11,56  14,07  13,31  14,41          CAE
4  14,31  14,58  19,80  18,05  20,12     Gipuzkoa

In [398]:
zonas_verdes #completa

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"10,90","10,63","10,56","8,68","8,74"
4,Bizkaia,NaN,"13,27","12,22","13,09","11,84","11,45"
...,...,...,...,...,...,...,...
277,48915,Ziortza-Bolibar,"17,78","23,53","23,53","23,53","8,26"
278,20028,Zizurkil,"12,17","12,17","12,27","13,45","13,45"
279,01063,Zuia,"6,01","6,01","5,66","5,93","5,93"
280,20081,Zumaia,"7,09","7,09","7,09","7,23","7,24"
281,20080,Zumarraga,"12,42","12,42","9,55","9,61","17,80"

In [399]:
zonas_verdes.head(25) #datos por municipios

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"10,90","10,63","10,56","8,68","8,74"
4,Bizkaia,NaN,"13,27","12,22","13,09","11,84","11,45"
5,CAE,NaN,"14,41","13,31","14,07","11,56","11,35"
6,Gipuzkoa,NaN,"20,12","18,05","19,80","14,58","14,31"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2009,2008,2007,2006,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"4,89",NaN,NaN,NaN,NaN
11,01200,Arabako Lautada / Llanada Alavesa,"14,73",NaN,NaN,NaN,NaN
12,01300,Arabako Mendialdea / Montaña Alavesa,"3,21",NaN,NaN,NaN,NaN
13,48100,Arratia Nerbioi / Arratia-Nervión,"22,70",NaN,NaN,NaN,NaN
14,20200,Bidasoa Beherea / Bajo Bidasoa,"3,54",NaN,NaN,NaN,NaN
15,48200,Bilbo Handia / Gran Bilbao,"11,47",NaN,NaN,NaN,NaN
16,20100,Deba Beherea / Bajo Deba,"8,12",NaN,NaN,NaN,NaN
17,20300,Debagoiena / Alto Deba,"12,98",NaN,NaN,NaN,NaN
18,20400,Donostialdea / Donostia-San Sebastián,"36,06",NaN,NaN,NaN,NaN
19,48300,Durangaldea / Duranguesado,"11,61",NaN,NaN,NaN,NaN
20,48400,Enkartazioak / Encartaciones,"27,62",NaN,NaN,NaN,NaN
21,01400,Errioxa Arabarra / Rioja Alavesa,"6,38",NaN,NaN,NaN,NaN
22,48500,Gernika-Bermeo,"20,81",NaN,NaN,NaN,NaN
23,20500,Goierri,"12,44",NaN,NaN,NaN,NaN
24,01500,Gorbeia Inguruak / Estribaciones del Gorbea,"2,91",NaN,NaN,NaN,NaN

In [400]:
zonas_verdes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                       --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)  279 non-null    object
 1   Unnamed: 1                                                                                                                   271 non-null    object
 2   Unnamed: 2                                                                                                                   274 non-null    object
 3   Unnamed: 3                                                                                                                   253 non-null    object
 4   Unnamed: 4                                                                                                                   251 non-null    object
 5   Unnamed: 5                                                                                                                   249 non-null    object
 6   Unnamed: 6                                                                                                                   249 non-null    object
dtypes: object(7)
memory usage: 15.6+ KB

In [401]:
zonas_verdes.describe()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,279,271,274,253,251,249,249
unique,279,271,256,237,235,240,228
top,20080,Zumarraga,"7,69",2008,2007,2006,2005
freq,1,1,4,3,3,3,3

In [402]:
zonas_verdes_provincias ##DATOS TABLA POR PROVINCIA

    2005   2006   2007   2008   2009    provincia
1   8,74   8,68  10,56  10,63  10,90  Araba/Álava
2  11,45  11,84  13,09  12,22  13,27      Bizkaia
3  11,35  11,56  14,07  13,31  14,41          CAE
4  14,31  14,58  19,80  18,05  20,12     Gipuzkoa

-------------

In [157]:
zonas_verdes_persona = pd.read_csv(
    '../data_zonas_verdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (m_persona).csv',
    sep=';',
    encoding='latin1')

In [168]:
zonas_verdes_persona.head(15)

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"24,79","24,42","24,66","20,51","20,69"
4,Bizkaia,NaN,"11,48","10,55","11,03","9,98","9,75"
5,CAE,NaN,"15,67","14,46","15,03","12,38","12,20"
6,Gipuzkoa,NaN,"18,42","16,44","17,32","12,75","12,48"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2009,2008,2007,2006,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"60,97",NaN,NaN,NaN,NaN
11,01200,Arabako Lautada / Llanada Alavesa,"23,94",NaN,NaN,NaN,NaN
12,01300,Arabako Mendialdea / Montaña Alavesa,"28,10",NaN,NaN,NaN,NaN
13,48100,Arratia Nerbioi / Arratia-Nervión,"42,24",NaN,NaN,NaN,NaN
14,20200,Bidasoa Beherea / Bajo Bidasoa,"3,80",NaN,NaN,NaN,NaN

In [159]:
zonas_verdes_persona.iloc[9:]

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
9,Código comarca,Comarca,2009,2008,2007,2006,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"60,97",NaN,NaN,NaN,NaN
11,01200,Arabako Lautada / Llanada Alavesa,"23,94",NaN,NaN,NaN,NaN
12,01300,Arabako Mendialdea / Montaña Alavesa,"28,10",NaN,NaN,NaN,NaN
13,48100,Arratia Nerbioi / Arratia-Nervión,"42,24",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
277,48915,Ziortza-Bolibar,"18,22","18,96","19,14","19,46","19,75"
278,20028,Zizurkil,"16,78","16,65","16,68","16,74","16,52"
279,01063,Zuia,"64,08","64,64","61,32","62,02","63,20"
280,20081,Zumaia,"7,67","7,71","7,87","8,32","8,38"
281,20080,Zumarraga,"8,31","8,28","8,36","9,28","9,27"

In [160]:
zonas_verdes_persona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)  279 non-null    object
 1   Unnamed: 1                                                                                                               271 non-null    object
 2   Unnamed: 2                                                                                                               274 non-null    object
 3   Unnamed: 3                                                                                                               253 non-null    object
 4   Unnamed: 4                                                                                                               251 non-null    object
 5   Unnamed: 5                                                                                                               249 non-null    object
 6   Unnamed: 6                                                                                                               249 non-null    object
dtypes: object(7)
memory usage: 15.6+ KB

In [161]:
zonas_verdes_persona.describe()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,279,271,274,253,251,249,249
unique,279,271,264,243,242,237,239
top,20080,Zumarraga,2009,2008,2007,2006,2005
freq,1,1,3,3,3,3,3

In [ ]:
zonas_verdes_persona.iloc[9:]
zonas_verdes_provincias = zonas_verdes.iloc[3:10].copy() #datos por provincias
zonas_verdes_provincias.columns =['provincia', 'col2', '2009', '2008', '2007', '2006', '2005'] #nombres de columnas
zonas_verdes_provincias = zonas_verdes_provincias.drop([7,8]) #datos no interesantes
zonas_verdes_provincias = zonas_verdes_provincias.reset_index(drop=True)  #indice a partir de 0
zonas_verdes_provincias #zonas verdes, resumen por provincias
zonas_verdes_provincias = zonas_verdes_provincias[sorted(zonas_verdes_provincias.columns)]
zonas_verdes_provincias = zonas_verdes_provincias.drop(columns='col2')
zonas_verdes_provincias = zonas_verdes_provincias.drop([4])

In [174]:
zonas_verdes_persona_provincias = zonas_verdes_persona.iloc[3:10].copy() #datos por provincias

In [175]:
zonas_verdes_persona_provincias

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
3,Araba/Álava,NaN,"24,79","24,42","24,66","20,51","20,69"
4,Bizkaia,NaN,"11,48","10,55","11,03","9,98","9,75"
5,CAE,NaN,"15,67","14,46","15,03","12,38","12,20"
6,Gipuzkoa,NaN,"18,42","16,44","17,32","12,75","12,48"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2009,2008,2007,2006,2005

In [176]:
zonas_verdes_persona_provincias.columns=['provincia', 'col2', '2009', '2008', '2007', '2006', '2005'] #nombres de columnas
zonas_verdes_persona_provincias

              provincia     col2   2009   2008   2007   2006   2005
3           Araba/Álava      NaN  24,79  24,42  24,66  20,51  20,69
4               Bizkaia      NaN  11,48  10,55  11,03   9,98   9,75
5                   CAE      NaN  15,67  14,46  15,03  12,38  12,20
6              Gipuzkoa      NaN  18,42  16,44  17,32  12,75  12,48
7                   NaN      NaN    NaN    NaN    NaN    NaN    NaN
8  Detalle por comarcas      NaN    NaN    NaN    NaN    NaN    NaN
9        Código comarca  Comarca   2009   2008   2007   2006   2005

In [177]:
zonas_verdes_persona_provincias = zonas_verdes_persona_provincias.drop([7,9]) #datos no interesantes
zonas_verdes_persona_provincias= zonas_verdes_persona_provincias.drop(columns='col2')
zonas_verdes_persona_provincias= zonas_verdes_persona_provincias[sorted(zonas_verdes_persona_provincias.columns)]
zonas_verdes_persona_provincias= zonas_verdes_persona_provincias.reset_index(drop=True)  #indice a partir de 0
zonas_verdes_persona_provincias = zonas_verdes_persona_provincias.drop(4)
zonas_verdes_persona_provincias

    2005   2006   2007   2008   2009    provincia
0  20,69  20,51  24,66  24,42  24,79  Araba/Álava
1   9,75   9,98  11,03  10,55  11,48      Bizkaia
2  12,20  12,38  15,03  14,46  15,67          CAE
3  12,48  12,75  17,32  16,44  18,42     Gipuzkoa

In [178]:
zonas_verdes_persona_provincias ####DATOS TABLA POR PROVINCIA

    2005   2006   2007   2008   2009    provincia
0  20,69  20,51  24,66  24,42  24,79  Araba/Álava
1   9,75   9,98  11,03  10,55  11,48      Bizkaia
2  12,20  12,38  15,03  14,46  15,67          CAE
3  12,48  12,75  17,32  16,44  18,42     Gipuzkoa

-------------

In [14]:
supeficie_agricola = pd.read_csv(
    '../data_zonas_verdes/Superficie agricola (% s_ superficie total).csv',
    sep=';',
    encoding='latin1')

In [179]:
supeficie_agricola.head(15)

,Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2005
3,Araba/Álava,NaN,"27,99","28,02","27,87","27,87","27,87","27,28","27,96","28,49"
4,Bizkaia,NaN,"1,05","1,05","0,95","0,96","0,97","0,97","0,97","0,94"
5,CAE,NaN,"12,41","12,42","12,32","12,32","12,32","12,09","12,36","12,39"
6,Gipuzkoa,NaN,"1,31","1,32","1,28","1,28","1,28","1,24","1,29","0,77"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2016,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"32,44","32,47","32,47","32,47","32,47","32,46","32,45","33,08"
11,01200,Arabako Lautada / Llanada Alavesa,"38,54","38,59","38,59","38,59","38,58","38,57","38,58","39,65"
12,01300,Arabako Mendialdea / Montaña Alavesa,"20,87","20,92","20,91","20,91","20,91","20,90","21,47","21,17"
13,48100,Arratia Nerbioi / Arratia-Nervión,"0,81","0,82","0,77","0,77","0,77","0,79","0,80","0,87"
14,20200,Bidasoa Beherea / Bajo Bidasoa,"2,12","2,19","2,09","2,09","2,09","2,09","2,09","1,66"

In [180]:
supeficie_agricola.iloc[9:]

,Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2016,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"32,44","32,47","32,47","32,47","32,47","32,46","32,45","33,08"
11,01200,Arabako Lautada / Llanada Alavesa,"38,54","38,59","38,59","38,59","38,58","38,57","38,58","39,65"
12,01300,Arabako Mendialdea / Montaña Alavesa,"20,87","20,92","20,91","20,91","20,91","20,90","21,47","21,17"
13,48100,Arratia Nerbioi / Arratia-Nervión,"0,81","0,82","0,77","0,77","0,77","0,79","0,80","0,87"
...,...,...,...,...,...,...,...,...,...,...
279,48915,Ziortza-Bolibar,"0,11","0,11","0,11","0,11","0,11","0,11","0,11","0,08"
280,20028,Zizurkil,"0,38","0,38","0,26","0,26","0,26","0,26","0,26","0,06"
281,01063,Zuia,"0,29","0,29","0,29","0,29","0,29","0,29","0,29","0,36"
282,20081,Zumaia,"3,00","3,00","2,72","2,72","2,72","2,72","2,70","0,44"
283,20080,Zumarraga,"0,59","0,59","0,59","0,59","0,59","0,59","0,59","0,27"

In [181]:
supeficie_agricola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 10 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total)  281 non-null    object
 1   Unnamed: 1                                                                              273 non-null    object
 2   Unnamed: 2                                                                              278 non-null    object
 3   Unnamed: 3                                                                              278 non-null    object
 4   Unnamed: 4                                                                              278 non-null    object
 5   Unnamed: 5                                                                              278 non-null    object
 6   Unnamed: 6                                                                              278 non-null    object
 7   Unnamed: 7                                                                              278 non-null    object
 8   Unnamed: 8                                                                              278 non-null    object
 9   Unnamed: 9                                                                              278 non-null    object
dtypes: object(10)
memory usage: 22.3+ KB

In [182]:
supeficie_agricola.describe()

,Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,281,273,278,278,278,278,278,278,278,278
unique,281,273,202,206,202,198,200,203,203,188
top,20080,Zumarraga,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
freq,1,1,8,8,9,9,9,10,10,18

In [200]:
supeficie_agricola.iloc[9:]
supeficie_agricola_provincias = supeficie_agricola.iloc[3:10].copy() #datos por provincias
supeficie_agricola_provincias.columns =['provincia', 'col2','2023', '2022', '2021', '2020', '2019', '2018', '2016', '2005']
supeficie_agricola_provincias = supeficie_agricola_provincias.reset_index(drop=True)

In [203]:
supeficie_agricola_provincias = supeficie_agricola_provincias.drop([4,5]) #datos no interesantes

In [205]:
supeficie_agricola_provincias = supeficie_agricola_provincias.drop([6])

In [207]:
supeficie_agricola_provincias = supeficie_agricola_provincias.drop(columns = 'col2')

In [209]:
supeficie_agricola_provincias  = supeficie_agricola_provincias [sorted(supeficie_agricola_provincias.columns)]

In [ ]:
supeficie_agricola_provincias ##DATOS POR PROVINCIA

    2005   2016   2018   2019   2020   2021   2022   2023    provincia
0  28,49  27,96  27,28  27,87  27,87  27,87  28,02  27,99  Araba/Álava
1   0,94   0,97   0,97   0,97   0,96   0,95   1,05   1,05      Bizkaia
2  12,39  12,36  12,09  12,32  12,32  12,32  12,42  12,41          CAE
3   0,77   1,29   1,24   1,28   1,28   1,28   1,32   1,31     Gipuzkoa

-------------

In [211]:
superficie_forestal= pd.read_csv(
    '../data_zonas_verdes/Superficie forestal (% s  superficie total).csv',
    sep=';',
    encoding='latin1')

In [56]:
superficie_forestal.head(15)

,Indicadores municipales de sostenibilidad: Superficie forestal (% s superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2010,2005
3,Araba/Álava,NaN,"46,74","46,78","46,76","46,71","46,66","46,51","46,51","46,38","46,59"
4,Bizkaia,NaN,"59,72","59,69","59,65","59,45","58,90","58,57","59,70","59,42","58,92"
5,CAE,NaN,"54,80","54,80","54,77","54,66","54,46","54,19","54,95","54,87","54,83"
6,Gipuzkoa,NaN,"61,66","61,63","61,60","61,50","61,45","61,10","62,57","62,79","62,89"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2016,2010,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"47,57","47,59","47,58","47,58","47,60","47,44","47,44","47,80","47,85"
11,01200,Arabako Lautada / Llanada Alavesa,"36,11","36,21","36,21","36,21","36,21","35,98","35,97","36,06","36,30"
12,01300,Arabako Mendialdea / Montaña Alavesa,"61,73","61,76","61,77","61,76","61,65","61,45","61,45","60,93","61,35"
13,48100,Arratia Nerbioi / Arratia-Nervión,"69,55","69,51","69,45","69,15","68,64","68,29","69,75","69,13","69,33"
14,20200,Bidasoa Beherea / Bajo Bidasoa,"46,64","46,68","46,68","46,71","46,82","46,01","46,13","45,67","43,77"

In [235]:
superficie_forestal.iloc[9:]

,Indicadores municipales de sostenibilidad: Superficie forestal (% s superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2016,2010,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"47,57","47,59","47,58","47,58","47,60","47,44","47,44","47,80","47,85"
11,01200,Arabako Lautada / Llanada Alavesa,"36,11","36,21","36,21","36,21","36,21","35,98","35,97","36,06","36,30"
12,01300,Arabako Mendialdea / Montaña Alavesa,"61,73","61,76","61,77","61,76","61,65","61,45","61,45","60,93","61,35"
13,48100,Arratia Nerbioi / Arratia-Nervión,"69,55","69,51","69,45","69,15","68,64","68,29","69,75","69,13","69,33"
...,...,...,...,...,...,...,...,...,...,...,...
279,48915,Ziortza-Bolibar,"76,54","76,49","76,27","75,74","74,68","74,36","75,96","63,11","76,73"
280,20028,Zizurkil,"54,31","54,31","54,31","54,25","54,25","54,25","56,42","57,61","57,61"
281,01063,Zuia,"68,50","68,50","68,46","68,49","68,48","68,50","68,59","68,22","69,36"
282,20081,Zumaia,"24,91","24,91","24,91","24,91","24,91","24,72","25,56","23,54","23,45"
283,20080,Zumarraga,"61,55","61,44","61,44","60,68","60,68","60,63","63,39","63,46","64,34"

In [213]:
superficie_forestal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 11 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie forestal (% s  superficie total)  281 non-null    object
 1   Unnamed: 1                                                                              273 non-null    object
 2   Unnamed: 2                                                                              278 non-null    object
 3   Unnamed: 3                                                                              278 non-null    object
 4   Unnamed: 4                                                                              278 non-null    object
 5   Unnamed: 5                                                                              278 non-null    object
 6   Unnamed: 6                                                                              278 non-null    object
 7   Unnamed: 7                                                                              278 non-null    object
 8   Unnamed: 8                                                                              278 non-null    object
 9   Unnamed: 9                                                                              278 non-null    object
 10  Unnamed: 10                                                                             278 non-null    object
dtypes: object(11)
memory usage: 24.5+ KB

In [214]:
superficie_forestal.describe()

,Indicadores municipales de sostenibilidad: Superficie forestal (% s superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,281,273,278,278,278,278,278,278,278,278,278
unique,281,273,271,271,268,268,271,270,269,272,270
top,20080,Zumarraga,2023,2022,"66,65",2020,2019,2018,2016,2010,2005
freq,1,1,3,3,3,3,3,3,3,3,3

In [252]:
superficie_forestal_provinincia = superficie_forestal.iloc[:9]
superficie_forestal_provinincia.columns =['provincia', 'col2', '2023', '2022', '2021', '2020', '2019', '2018', '2016', '2010', '2005']

In [253]:
superficie_forestal_provinincia  = superficie_forestal_provinincia.drop(columns='col2')

In [254]:
superficie_forestal_provinincia  = superficie_forestal_provinincia [sorted(superficie_forestal_provinincia.columns)] #ordenar

In [255]:
superficie_forestal_provinincia = superficie_forestal_provinincia.drop([1,2]) #datos no interesantes

In [259]:
superficie_forestal_provinincia = superficie_forestal_provinincia.drop([0])

In [ ]:
superficie_forestal_provinincia = superficie_forestal_provinincia.dropna(how= 'all') #valores nan

In [ ]:
superficie_forestal_provinincia = superficie_forestal_provinincia.drop([8])

In [ ]:
superficie_forestal_provinincia ##DATOS PROVINCIA

    2005   2010   2016   2018   2019   2020   2021   2022   2023    provincia
3  46,59  46,38  46,51  46,51  46,66  46,71  46,76  46,78  46,74  Araba/Álava
4  58,92  59,42  59,70  58,57  58,90  59,45  59,65  59,69  59,72      Bizkaia
5  54,83  54,87  54,95  54,19  54,46  54,66  54,77  54,80  54,80          CAE
6  62,89  62,79  62,57  61,10  61,45  61,50  61,60  61,63  61,66     Gipuzkoa

-------------

In [271]:
superficie_forestal_publica= pd.read_csv(
    '../data_zonas_verdes/Superficie forestal publica (% s_ superficie forestal total).csv',
    sep=';',
    encoding='latin1')

In [272]:
superficie_forestal_publica.head(15)

,Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2005
3,Araba/Álava,NaN,"76,51","76,52","76,53","76,51","76,52","76,49","76,47","76,26"
4,Bizkaia,NaN,"24,08","24,22","23,64","23,71","23,79","23,88","23,70","23,03"
5,CAE,NaN,"42,07","42,13","41,95","41,98","42,06","42,11","41,67","41,05"
6,Gipuzkoa,NaN,"21,46","21,49","21,50","21,52","21,52","21,52","21,18","19,93"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2016,2005
10,01100,Arabako Ibarrak / Valles Alaveses,"78,43","78,49","78,49","78,49","78,50","78,62","78,62","78,79"
11,01200,Arabako Lautada / Llanada Alavesa,"85,42","85,66","85,66","85,66","85,64","85,65","87,97","84,61"
12,01300,Arabako Mendialdea / Montaña Alavesa,"89,96","90,01","89,99","90,00","89,98","89,97","101,89","89,55"
13,48100,Arratia Nerbioi / Arratia-Nervión,"20,59","20,57","20,43","20,49","20,55","20,54","21,14","20,05"
14,20200,Bidasoa Beherea / Bajo Bidasoa,"41,07","41,03","41,03","41,06","41,23","41,63","41,21","38,67"

In [31]:
superficie_forestal_publica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 10 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total)  281 non-null    object
 1   Unnamed: 1                                                                                               273 non-null    object
 2   Unnamed: 2                                                                                               278 non-null    object
 3   Unnamed: 3                                                                                               278 non-null    object
 4   Unnamed: 4                                                                                               278 non-null    object
 5   Unnamed: 5                                                                                               278 non-null    object
 6   Unnamed: 6                                                                                               278 non-null    object
 7   Unnamed: 7                                                                                               278 non-null    object
 8   Unnamed: 8                                                                                               278 non-null    object
 9   Unnamed: 9                                                                                               278 non-null    object
dtypes: object(10)
memory usage: 22.3+ KB

In [32]:
superficie_forestal_publica.describe()

,Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,281,273,278,278,278,278,278,278,278,278
unique,281,273,206,206,209,209,205,206,208,198
top,20080,Zumarraga,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
freq,1,1,67,66,65,65,65,66,65,73

In [281]:
superficie_forestal_publica_provincias = superficie_forestal_publica.iloc[:9]
superficie_forestal_publica_provincias.columns =['provincia', 'col2','2023', '2022', '2021', '2020', '2019', '2018', '2016', '2005']

In [ ]:
 #datos no interesantessuperficie_forestal_publica_provincias = superficie_forestal_publica_provincias.drop([0,1])

In [289]:
superficie_forestal_publica_provincias = superficie_forestal_publica_provincias.dropna(how ='all')

In [291]:
superficie_forestal_publica_provincias = superficie_forestal_publica_provincias.drop([8])

In [293]:
superficie_forestal_publica_provincias = superficie_forestal_publica_provincias.drop(columns="col2")

In [295]:
superficie_forestal_publica_provincias = superficie_forestal_publica_provincias[sorted(superficie_forestal_publica_provincias.columns)]

In [ ]:
superficie_forestal_publica_provincias ##DATOS PROVINCIAS

    2005   2016   2018   2019   2020   2021   2022   2023    provincia
2   2005   2016   2018   2019   2020   2021   2022   2023      Entidad
3  76,26  76,47  76,49  76,52  76,51  76,53  76,52  76,51  Araba/Álava
4  23,03  23,70  23,88  23,79  23,71  23,64  24,22  24,08      Bizkaia
5  41,05  41,67  42,11  42,06  41,98  41,95  42,13  42,07          CAE
6  19,93  21,18  21,52  21,52  21,52  21,50  21,49  21,46     Gipuzkoa

-------

In [21]:
especial_proteccion= pd.read_csv(
    '../data_zonas_verdes/Superficie municipal de especial proteccion (% superficie total).csv',
    sep=';',
    encoding='latin1')

In [58]:
especial_proteccion.head(15)

,Indicadores municipales de sostenibilidad: Superficie municipal de especial protección (% superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2006
3,Araba/Álava,NaN,"27,40","26,92","26,87","22,14","22,14","22,14","22,11","20,37","20,39","19,94","19,98","20,20","20,35","20,40","19,15","19,17","18,50"
4,Bizkaia,NaN,"19,17","19,59","19,59","19,60","19,25","19,26","19,22","19,57","19,99","19,68","19,14","18,83","19,46","19,49","19,05","19,14","20,18"
5,CAE,NaN,"23,62","23,78","23,61","21,83","21,72","21,76","21,51","20,80","21,00","20,71","20,37","20,39","20,67","20,60","19,76","19,98","19,23"
6,Gipuzkoa,NaN,"22,89","23,74","23,19","23,94","23,94","24,08","23,22","22,90","23,12","23,11","22,40","22,48","22,55","22,19","21,53","22,21","19,26"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Detalle por comarcas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Código comarca,Comarca,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2006
10,01100,Arabako Ibarrak / Valles Alaveses,"34,52","34,52","34,53","12,74","12,74","12,73","12,74","12,74","12,74","11,29","11,29","11,29","11,30","11,39","11,39","0,00","0,00"
11,01200,Arabako Lautada / Llanada Alavesa,"21,31","21,31","21,32","21,32","21,32","21,32","21,32","20,31","20,31","20,31","20,31","20,39","20,21","20,21","18,65","0,00","0,00"
12,01300,Arabako Mendialdea / Montaña Alavesa,"37,62","37,97","37,62","37,62","37,62","37,62","37,62","28,61","28,61","28,61","28,90","28,93","29,22","29,24","24,88","0,00","0,00"
13,48100,Arratia Nerbioi / Arratia-Nervión,"28,27","28,26","28,26","28,26","28,26","28,26","28,26","28,26","28,26","27,92","28,06","28,13","27,76","27,77","24,86","0,00","0,00"
14,20200,Bidasoa Beherea / Bajo Bidasoa,"36,19","36,19","13,14","33,72","33,72","33,72","13,14","13,14","13,61","13,61","13,61","13,61","13,73","13,44","13,44","0,00","0,00"

In [305]:
especial_proteccion_provincia = especial_proteccion.iloc[:10]
especial_proteccion_provincia = especial_proteccion_provincia.dropna(how= 'all')

In [309]:
especial_proteccion_provincia.columns = ['provincia', 'col2', '2023', '2022', '2021', '2020', '2019','2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011','2010', '2009', '2008', '2006']

In [311]:
especial_proteccion_provincia= especial_proteccion_provincia.drop(columns="col2")

In [314]:
especial_proteccion_provincia= especial_proteccion_provincia[sorted(especial_proteccion_provincia)]

In [318]:
especial_proteccion_provincia = especial_proteccion_provincia.dropna(how='all')

In [320]:
especial_proteccion_provincia = especial_proteccion_provincia.drop(1)

In [322]:
especial_proteccion_provincia = especial_proteccion_provincia.drop(2)

In [324]:
especial_proteccion_provincia = especial_proteccion_provincia.reset_index(drop=True)

In [326]:
especial_proteccion_provincia = especial_proteccion_provincia.drop([4,5])

In [ ]:
especial_proteccion_provincia ##datos tabla provincias

,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,provincia
0,"18,50","19,17","19,15","20,40","20,35","20,20","19,98","19,94","20,39","20,37","22,11","22,14","22,14","22,14","26,87","26,92","27,40",Araba/Álava
1,"20,18","19,14","19,05","19,49","19,46","18,83","19,14","19,68","19,99","19,57","19,22","19,26","19,25","19,60","19,59","19,59","19,17",Bizkaia
2,"19,23","19,98","19,76","20,60","20,67","20,39","20,37","20,71","21,00","20,80","21,51","21,76","21,72","21,83","23,61","23,78","23,62",CAE
3,"19,26","22,21","21,53","22,19","22,55","22,48","22,40","23,11","23,12","22,90","23,22","24,08","23,94","23,94","23,19","23,74","22,89",Gipuzkoa

----------

----------

In [404]:
from IPython.display import display

In [405]:
display('Las zonas verdes son',zonas_verdes_provincias,'Las zonas verdes por persona son:',zonas_verdes_persona_provincias,'Las superficie agricola es:', supeficie_agricola_provincias,'La superficie forestal es:', superficie_forestal_provinincia,'Las superficie forestal publica es:', superficie_forestal_publica_provincias,'Las zonas de especial proteccion son', especial_proteccion_provincia)

'Las zonas verdes son'

    2005   2006   2007   2008   2009    provincia
1   8,74   8,68  10,56  10,63  10,90  Araba/Álava
2  11,45  11,84  13,09  12,22  13,27      Bizkaia
3  11,35  11,56  14,07  13,31  14,41          CAE
4  14,31  14,58  19,80  18,05  20,12     Gipuzkoa

'Las zonas verdes por persona son:'

    2005   2006   2007   2008   2009    provincia
0  20,69  20,51  24,66  24,42  24,79  Araba/Álava
1   9,75   9,98  11,03  10,55  11,48      Bizkaia
2  12,20  12,38  15,03  14,46  15,67          CAE
3  12,48  12,75  17,32  16,44  18,42     Gipuzkoa

'Las superficie agricola es:'

    2005   2016   2018   2019   2020   2021   2022   2023    provincia
0  28,49  27,96  27,28  27,87  27,87  27,87  28,02  27,99  Araba/Álava
1   0,94   0,97   0,97   0,97   0,96   0,95   1,05   1,05      Bizkaia
2  12,39  12,36  12,09  12,32  12,32  12,32  12,42  12,41          CAE
3   0,77   1,29   1,24   1,28   1,28   1,28   1,32   1,31     Gipuzkoa

'La superficie forestal es:'

    2005   2010   2016   2018   2019   2020   2021   2022   2023    provincia
3  46,59  46,38  46,51  46,51  46,66  46,71  46,76  46,78  46,74  Araba/Álava
4  58,92  59,42  59,70  58,57  58,90  59,45  59,65  59,69  59,72      Bizkaia
5  54,83  54,87  54,95  54,19  54,46  54,66  54,77  54,80  54,80          CAE
6  62,89  62,79  62,57  61,10  61,45  61,50  61,60  61,63  61,66     Gipuzkoa

'Las superficie forestal publica es:'

    2005   2016   2018   2019   2020   2021   2022   2023    provincia
2   2005   2016   2018   2019   2020   2021   2022   2023      Entidad
3  76,26  76,47  76,49  76,52  76,51  76,53  76,52  76,51  Araba/Álava
4  23,03  23,70  23,88  23,79  23,71  23,64  24,22  24,08      Bizkaia
5  41,05  41,67  42,11  42,06  41,98  41,95  42,13  42,07          CAE
6  19,93  21,18  21,52  21,52  21,52  21,50  21,49  21,46     Gipuzkoa

'Las zonas de especial proteccion son'

,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,provincia
0,"18,50","19,17","19,15","20,40","20,35","20,20","19,98","19,94","20,39","20,37","22,11","22,14","22,14","22,14","26,87","26,92","27,40",Araba/Álava
1,"20,18","19,14","19,05","19,49","19,46","18,83","19,14","19,68","19,99","19,57","19,22","19,26","19,25","19,60","19,59","19,59","19,17",Bizkaia
2,"19,23","19,98","19,76","20,60","20,67","20,39","20,37","20,71","21,00","20,80","21,51","21,76","21,72","21,83","23,61","23,78","23,62",CAE
3,"19,26","22,21","21,53","22,19","22,55","22,48","22,40","23,11","23,12","22,90","23,22","24,08","23,94","23,94","23,19","23,74","22,89",Gipuzkoa

In [411]:
dataframes = [zonas_verdes_provincias,zonas_verdes_persona_provincias,supeficie_agricola_provincias , superficie_forestal_provinincia, superficie_forestal_publica_provincias
 , especial_proteccion_provincia]

for df in dataframes:
    df.set_index('provincia', inplace= False)

dataframes

[    2005   2006   2007   2008   2009    provincia
 1   8,74   8,68  10,56  10,63  10,90  Araba/Álava
 2  11,45  11,84  13,09  12,22  13,27      Bizkaia
 3  11,35  11,56  14,07  13,31  14,41          CAE
 4  14,31  14,58  19,80  18,05  20,12     Gipuzkoa,
     2005   2006   2007   2008   2009    provincia
 0  20,69  20,51  24,66  24,42  24,79  Araba/Álava
 1   9,75   9,98  11,03  10,55  11,48      Bizkaia
 2  12,20  12,38  15,03  14,46  15,67          CAE
 3  12,48  12,75  17,32  16,44  18,42     Gipuzkoa,
     2005   2016   2018   2019   2020   2021   2022   2023    provincia
 0  28,49  27,96  27,28  27,87  27,87  27,87  28,02  27,99  Araba/Álava
 1   0,94   0,97   0,97   0,97   0,96   0,95   1,05   1,05      Bizkaia
 2  12,39  12,36  12,09  12,32  12,32  12,32  12,42  12,41          CAE
 3   0,77   1,29   1,24   1,28   1,28   1,28   1,32   1,31     Gipuzkoa,
     2005   2010   2016   2018   2019   2020   2021   2022   2023    provincia
 3  46,59  46,38  46,51  46,51  46,66  46,71  46,76  46,78  46,74  Araba/Álava
 4  58,92  59,42  59,70  58,57  58,90  59,45  59,65  59,69  59,72      Bizkaia
 5  54,83  54,87  54,95  54,19  54,46  54,66  54,77  54,80  54,80          CAE
 6  62,89  62,79  62,57  61,10  61,45  61,50  61,60  61,63  61,66     Gipuzkoa,
     2005   2016   2018   2019   2020   2021   2022   2023    provincia
 2   2005   2016   2018   2019   2020   2021   2022   2023      Entidad
 3  76,26  76,47  76,49  76,52  76,51  76,53  76,52  76,51  Araba/Álava
 4  23,03  23,70  23,88  23,79  23,71  23,64  24,22  24,08      Bizkaia
 5  41,05  41,67  42,11  42,06  41,98  41,95  42,13  42,07          CAE
 6  19,93  21,18  21,52  21,52  21,52  21,50  21,49  21,46     Gipuzkoa,
     2006   2008   2009   2010   2011   2012   2013   2014   2015   2016  \
 0  18,50  19,17  19,15  20,40  20,35  20,20  19,98  19,94  20,39  20,37
 1  20,18  19,14  19,05  19,49  19,46  18,83  19,14  19,68  19,99  19,57
 2  19,23  19,98  19,76  20,60  20,67  20,39  20,37  20,71  21,00  20,80
 3  19,26  22,21  21,53  22,19  22,55  22,48  22,40  23,11  23,12  22,90

     2017   2018   2019   2020   2021   2022   2023    provincia
 0  22,11  22,14  22,14  22,14  26,87  26,92  27,40  Araba/Álava
 1  19,22  19,26  19,25  19,60  19,59  19,59  19,17      Bizkaia
 2  21,51  21,76  21,72  21,83  23,61  23,78  23,62          CAE
 3  23,22  24,08  23,94  23,94  23,19  23,74  22,89     Gipuzkoa  ]

In [412]:
dataframes = [zonas_verdes_provincias,zonas_verdes_persona_provincias,supeficie_agricola_provincias , superficie_forestal_provinincia, superficie_forestal_publica_provincias
 , especial_proteccion_provincia]

for df in dataframes:
    df.set_index('provincia', inplace= True)

dataframes

[              2005   2006   2007   2008   2009
 provincia
 Araba/Álava   8,74   8,68  10,56  10,63  10,90
 Bizkaia      11,45  11,84  13,09  12,22  13,27
 CAE          11,35  11,56  14,07  13,31  14,41
 Gipuzkoa     14,31  14,58  19,80  18,05  20,12,
               2005   2006   2007   2008   2009
 provincia
 Araba/Álava  20,69  20,51  24,66  24,42  24,79
 Bizkaia       9,75   9,98  11,03  10,55  11,48
 CAE          12,20  12,38  15,03  14,46  15,67
 Gipuzkoa     12,48  12,75  17,32  16,44  18,42,
               2005   2016   2018   2019   2020   2021   2022   2023
 provincia
 Araba/Álava  28,49  27,96  27,28  27,87  27,87  27,87  28,02  27,99
 Bizkaia       0,94   0,97   0,97   0,97   0,96   0,95   1,05   1,05
 CAE          12,39  12,36  12,09  12,32  12,32  12,32  12,42  12,41
 Gipuzkoa      0,77   1,29   1,24   1,28   1,28   1,28   1,32   1,31,
               2005   2010   2016   2018   2019   2020   2021   2022   2023
 provincia
 Araba/Álava  46,59  46,38  46,51  46,51  46,66  46,71  46,76  46,78  46,74
 Bizkaia      58,92  59,42  59,70  58,57  58,90  59,45  59,65  59,69  59,72
 CAE          54,83  54,87  54,95  54,19  54,46  54,66  54,77  54,80  54,80
 Gipuzkoa     62,89  62,79  62,57  61,10  61,45  61,50  61,60  61,63  61,66,
               2005   2016   2018   2019   2020   2021   2022   2023
 provincia
 Entidad       2005   2016   2018   2019   2020   2021   2022   2023
 Araba/Álava  76,26  76,47  76,49  76,52  76,51  76,53  76,52  76,51
 Bizkaia      23,03  23,70  23,88  23,79  23,71  23,64  24,22  24,08
 CAE          41,05  41,67  42,11  42,06  41,98  41,95  42,13  42,07
 Gipuzkoa     19,93  21,18  21,52  21,52  21,52  21,50  21,49  21,46,
               2006   2008   2009   2010   2011   2012   2013   2014   2015  \
 provincia
 Araba/Álava  18,50  19,17  19,15  20,40  20,35  20,20  19,98  19,94  20,39
 Bizkaia      20,18  19,14  19,05  19,49  19,46  18,83  19,14  19,68  19,99
 CAE          19,23  19,98  19,76  20,60  20,67  20,39  20,37  20,71  21,00
 Gipuzkoa     19,26  22,21  21,53  22,19  22,55  22,48  22,40  23,11  23,12

               2016   2017   2018   2019   2020   2021   2022   2023
 provincia
 Araba/Álava  20,37  22,11  22,14  22,14  22,14  26,87  26,92  27,40
 Bizkaia      19,57  19,22  19,26  19,25  19,60  19,59  19,59  19,17
 CAE          20,80  21,51  21,76  21,72  21,83  23,61  23,78  23,62
 Gipuzkoa     22,90  23,22  24,08  23,94  23,94  23,19  23,74  22,89  ]

In [413]:
display('Las zonas verdes son',zonas_verdes_provincias,'Las zonas verdes por persona son:',zonas_verdes_persona_provincias,'Las superficie agricola es:', supeficie_agricola_provincias,'La superficie forestal es:', superficie_forestal_provinincia,'Las superficie forestal publica es:', superficie_forestal_publica_provincias,'Las zonas de especial proteccion son', especial_proteccion_provincia)

'Las zonas verdes son'

              2005   2006   2007   2008   2009
provincia
Araba/Álava   8,74   8,68  10,56  10,63  10,90
Bizkaia      11,45  11,84  13,09  12,22  13,27
CAE          11,35  11,56  14,07  13,31  14,41
Gipuzkoa     14,31  14,58  19,80  18,05  20,12

'Las zonas verdes por persona son:'

              2005   2006   2007   2008   2009
provincia
Araba/Álava  20,69  20,51  24,66  24,42  24,79
Bizkaia       9,75   9,98  11,03  10,55  11,48
CAE          12,20  12,38  15,03  14,46  15,67
Gipuzkoa     12,48  12,75  17,32  16,44  18,42

'Las superficie agricola es:'

              2005   2016   2018   2019   2020   2021   2022   2023
provincia
Araba/Álava  28,49  27,96  27,28  27,87  27,87  27,87  28,02  27,99
Bizkaia       0,94   0,97   0,97   0,97   0,96   0,95   1,05   1,05
CAE          12,39  12,36  12,09  12,32  12,32  12,32  12,42  12,41
Gipuzkoa      0,77   1,29   1,24   1,28   1,28   1,28   1,32   1,31

'La superficie forestal es:'

              2005   2010   2016   2018   2019   2020   2021   2022   2023
provincia
Araba/Álava  46,59  46,38  46,51  46,51  46,66  46,71  46,76  46,78  46,74
Bizkaia      58,92  59,42  59,70  58,57  58,90  59,45  59,65  59,69  59,72
CAE          54,83  54,87  54,95  54,19  54,46  54,66  54,77  54,80  54,80
Gipuzkoa     62,89  62,79  62,57  61,10  61,45  61,50  61,60  61,63  61,66

'Las superficie forestal publica es:'

              2005   2016   2018   2019   2020   2021   2022   2023
provincia
Entidad       2005   2016   2018   2019   2020   2021   2022   2023
Araba/Álava  76,26  76,47  76,49  76,52  76,51  76,53  76,52  76,51
Bizkaia      23,03  23,70  23,88  23,79  23,71  23,64  24,22  24,08
CAE          41,05  41,67  42,11  42,06  41,98  41,95  42,13  42,07
Gipuzkoa     19,93  21,18  21,52  21,52  21,52  21,50  21,49  21,46

'Las zonas de especial proteccion son'

,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
provincia,,,,,,,,,,,,,,,,,
Araba/Álava,"18,50","19,17","19,15","20,40","20,35","20,20","19,98","19,94","20,39","20,37","22,11","22,14","22,14","22,14","26,87","26,92","27,40"
Bizkaia,"20,18","19,14","19,05","19,49","19,46","18,83","19,14","19,68","19,99","19,57","19,22","19,26","19,25","19,60","19,59","19,59","19,17"
CAE,"19,23","19,98","19,76","20,60","20,67","20,39","20,37","20,71","21,00","20,80","21,51","21,76","21,72","21,83","23,61","23,78","23,62"
Gipuzkoa,"19,26","22,21","21,53","22,19","22,55","22,48","22,40","23,11","23,12","22,90","23,22","24,08","23,94","23,94","23,19","23,74","22,89"

----------