In [6]:
import pandas as pd
import numpy as np

In [9]:
zonas_verdes = pd.read_csv(
    '../data_zonas_verdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv',
    sep=';',
    encoding='latin1'
)

In [10]:
zonas_verdes.head()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"10,90","10,63","10,56","8,68","8,74"
4,Bizkaia,NaN,"13,27","12,22","13,09","11,84","11,45"

In [23]:
zonas_verdes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                       --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)  279 non-null    object
 1   Unnamed: 1                                                                                                                   271 non-null    object
 2   Unnamed: 2                                                                                                                   274 non-null    object
 3   Unnamed: 3                                                                                                                   253 non-null    object
 4   Unnamed: 4                                                                                                                   251 non-null    object
 5   Unnamed: 5                                                                                                                   249 non-null    object
 6   Unnamed: 6                                                                                                                   249 non-null    object
dtypes: object(7)
memory usage: 15.6+ KB

In [24]:
zonas_verdes.describe()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,279,271,274,253,251,249,249
unique,279,271,256,237,235,240,228
top,20080,Zumarraga,"7,69",2008,2007,2006,2005
freq,1,1,4,3,3,3,3

In [11]:
zonas_verdes_persona = pd.read_csv(
    '../data_zonas_verdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (m_persona).csv',
    sep=';',
    encoding='latin1')

In [12]:
zonas_verdes_persona.head()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"24,79","24,42","24,66","20,51","20,69"
4,Bizkaia,NaN,"11,48","10,55","11,03","9,98","9,75"

In [25]:
zonas_verdes_persona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)  279 non-null    object
 1   Unnamed: 1                                                                                                               271 non-null    object
 2   Unnamed: 2                                                                                                               274 non-null    object
 3   Unnamed: 3                                                                                                               253 non-null    object
 4   Unnamed: 4                                                                                                               251 non-null    object
 5   Unnamed: 5                                                                                                               249 non-null    object
 6   Unnamed: 6                                                                                                               249 non-null    object
dtypes: object(7)
memory usage: 15.6+ KB

In [26]:
zonas_verdes_persona.describe()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (m²/persona)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
count,279,271,274,253,251,249,249
unique,279,271,264,243,242,237,239
top,20080,Zumarraga,2009,2008,2007,2006,2005
freq,1,1,3,3,3,3,3

In [14]:
supeficie_agricola = pd.read_csv(
    '../data_zonas_verdes/Superficie agricola (% s_ superficie total).csv',
    sep=';',
    encoding='latin1')

In [15]:
supeficie_agricola.head()

,Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2005
3,Araba/Álava,NaN,"27,99","28,02","27,87","27,87","27,87","27,28","27,96","28,49"
4,Bizkaia,NaN,"1,05","1,05","0,95","0,96","0,97","0,97","0,97","0,94"

In [27]:
supeficie_agricola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 10 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total)  281 non-null    object
 1   Unnamed: 1                                                                              273 non-null    object
 2   Unnamed: 2                                                                              278 non-null    object
 3   Unnamed: 3                                                                              278 non-null    object
 4   Unnamed: 4                                                                              278 non-null    object
 5   Unnamed: 5                                                                              278 non-null    object
 6   Unnamed: 6                                                                              278 non-null    object
 7   Unnamed: 7                                                                              278 non-null    object
 8   Unnamed: 8                                                                              278 non-null    object
 9   Unnamed: 9                                                                              278 non-null    object
dtypes: object(10)
memory usage: 22.3+ KB

In [28]:
supeficie_agricola.describe()

,Indicadores municipales de sostenibilidad: Superficie agrícola (% s/ superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,281,273,278,278,278,278,278,278,278,278
unique,281,273,202,206,202,198,200,203,203,188
top,20080,Zumarraga,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
freq,1,1,8,8,9,9,9,10,10,18

In [16]:
superficie_forestal= pd.read_csv(
    '../data_zonas_verdes/Superficie forestal (% s  superficie total).csv',
    sep=';',
    encoding='latin1')

In [17]:
superficie_forestal.head()

,Indicadores municipales de sostenibilidad: Superficie forestal (% s superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2010,2005
3,Araba/Álava,NaN,"46,74","46,78","46,76","46,71","46,66","46,51","46,51","46,38","46,59"
4,Bizkaia,NaN,"59,72","59,69","59,65","59,45","58,90","58,57","59,70","59,42","58,92"

In [29]:
superficie_forestal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 11 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie forestal (% s  superficie total)  281 non-null    object
 1   Unnamed: 1                                                                              273 non-null    object
 2   Unnamed: 2                                                                              278 non-null    object
 3   Unnamed: 3                                                                              278 non-null    object
 4   Unnamed: 4                                                                              278 non-null    object
 5   Unnamed: 5                                                                              278 non-null    object
 6   Unnamed: 6                                                                              278 non-null    object
 7   Unnamed: 7                                                                              278 non-null    object
 8   Unnamed: 8                                                                              278 non-null    object
 9   Unnamed: 9                                                                              278 non-null    object
 10  Unnamed: 10                                                                             278 non-null    object
dtypes: object(11)
memory usage: 24.5+ KB

In [30]:
superficie_forestal.describe()

,Indicadores municipales de sostenibilidad: Superficie forestal (% s superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,281,273,278,278,278,278,278,278,278,278,278
unique,281,273,271,271,268,268,271,270,269,272,270
top,20080,Zumarraga,2023,2022,"66,65",2020,2019,2018,2016,2010,2005
freq,1,1,3,3,3,3,3,3,3,3,3

In [19]:
superficie_forestal_publica= pd.read_csv(
    '../data_zonas_verdes/Superficie forestal publica (% s_ superficie forestal total).csv',
    sep=';',
    encoding='latin1')

In [20]:
superficie_forestal_publica.head()

,Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2016,2005
3,Araba/Álava,NaN,"76,51","76,52","76,53","76,51","76,52","76,49","76,47","76,26"
4,Bizkaia,NaN,"24,08","24,22","23,64","23,71","23,79","23,88","23,70","23,03"

In [31]:
superficie_forestal_publica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 10 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total)  281 non-null    object
 1   Unnamed: 1                                                                                               273 non-null    object
 2   Unnamed: 2                                                                                               278 non-null    object
 3   Unnamed: 3                                                                                               278 non-null    object
 4   Unnamed: 4                                                                                               278 non-null    object
 5   Unnamed: 5                                                                                               278 non-null    object
 6   Unnamed: 6                                                                                               278 non-null    object
 7   Unnamed: 7                                                                                               278 non-null    object
 8   Unnamed: 8                                                                                               278 non-null    object
 9   Unnamed: 9                                                                                               278 non-null    object
dtypes: object(10)
memory usage: 22.3+ KB

In [32]:
superficie_forestal_publica.describe()

,Indicadores municipales de sostenibilidad: Superficie forestal pública (% s/ superficie forestal total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,281,273,278,278,278,278,278,278,278,278
unique,281,273,206,206,209,209,205,206,208,198
top,20080,Zumarraga,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
freq,1,1,67,66,65,65,65,66,65,73

In [21]:
especial_proteccion= pd.read_csv(
    '../data_zonas_verdes/Superficie municipal de especial proteccion (% superficie total).csv',
    sep=';',
    encoding='latin1')

In [22]:
especial_proteccion.head()

,Indicadores municipales de sostenibilidad: Superficie municipal de especial protección (% superficie total),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2006
3,Araba/Álava,NaN,"27,40","26,92","26,87","22,14","22,14","22,14","22,11","20,37","20,39","19,94","19,98","20,20","20,35","20,40","19,15","19,17","18,50"
4,Bizkaia,NaN,"19,17","19,59","19,59","19,60","19,25","19,26","19,22","19,57","19,99","19,68","19,14","18,83","19,46","19,49","19,05","19,14","20,18"

In [33]:
especial_proteccion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 19 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Indicadores municipales de sostenibilidad: Superficie municipal de especial protección (% superficie total)  281 non-null    object
 1   Unnamed: 1                                                                                                   273 non-null    object
 2   Unnamed: 2                                                                                                   278 non-null    object
 3   Unnamed: 3                                                                                                   278 non-null    object
 4   Unnamed: 4                                                                                                   278 non-null    object
 5   Unnamed: 5                                                                                                   278 non-null    object
 6   Unnamed: 6                                                                                                   278 non-null    object
 7   Unnamed: 7                                                                                                   278 non-null    object
 8   Unnamed: 8                                                                                                   278 non-null    object
 9   Unnamed: 9                                                                                                   278 non-null    object
 10  Unnamed: 10                                                                                                  278 non-null    object
 11  Unnamed: 11                                                                                                  278 non-null    object
 12  Unnamed: 12                                                                                                  278 non-null    object
 13  Unnamed: 13                                                                                                  278 non-null    object
 14  Unnamed: 14                                                                                                  278 non-null    object
 15  Unnamed: 15                                                                                                  278 non-null    object
 16  Unnamed: 16                                                                                                  278 non-null    object
 17  Unnamed: 17                                                                                                  278 non-null    object
 18  Unnamed: 18                                                                                                  278 non-null    object
dtypes: object(19)
memory usage: 42.3+ KB

In [ ]:
especial_proteccion.describe()