In [6]:
import pandas as pd
import numpy as np

In [7]:
verdes = pd.read_csv(
    '../data_zonas_verdes/Superficie ocupada por parques, jardines y zonas verdes urbanas (%_suelo urbano).csv',
    sep=';',
    encoding='latin1'
)

In [8]:
verdes.head()

,"Indicadores municipales de sostenibilidad: Superficie ocupada por parques, jardines y zonas verdes urbanas (%/suelo urbano)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Resumen de datos,NaN,NaN,NaN,NaN,NaN,NaN
2,Entidad,NaN,2009,2008,2007,2006,2005
3,Araba/Álava,NaN,"10,90","10,63","10,56","8,68","8,74"
4,Bizkaia,NaN,"13,27","12,22","13,09","11,84","11,45"